* {
box-sizing: border-box;
}

/* General Styles */

body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(53, 52, 61);
}

header {
    text-align: center;
    background-color: rgb(67, 7, 136);
    color: #fff;
    background: #330ECE;
    background: -moz-linear-gradient(top, #330ECE 0%, #5258A4 50%, #3B2DC5 100%);
    background: -webkit-linear-gradient(top, #330ECE 0%, #5258A4 50%, #3B2DC5 100%);
    background: linear-gradient(to bottom, #330ECE 0%, #5258A4 50%, #3B2DC5 100%);
    box-shadow: -3px 4px 5px -6px #303030;
}

h1 {
    margin-top: 0;
    padding: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
    
}

h2 {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    font-size: 1.25em;
}

p {
    color: rgb(179, 176, 176);
}

.news-p {
    text-align: center;
    margin-top: .5em;
    margin-bottom: 2em;
   
}

div {
    border-bottom: 4px solid #fff;
    padding: bottom 1em;

}


section {
    margin-top: 1em;
}

fieldset {
    border: 0;
}

.contact-field{
    border-bottom: 4px solid white;
    
}

.news-letter{
    margin-top: 1em;
}

legend {
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(228, 228, 228);
}

#btn {
    margin: 1em auto;
    font-weight: 600;
    width: 100%;
    padding: 1.5em;
    border-radius: 4px;
    background-color: rgb(117, 107, 206);
    color: #FFF;
}

#btn:hover {
    background-color: #fff;
    color: rgb(117, 107, 206);
}

#btn:active {
    background-color: rgb(69, 16, 216);
    color: #fff;
}



footer {
    font-size: .75em;
    text-align: center;
    padding: 2em;
    color: #fff;
    
}

#topic-section {
    height: auto;
    width: 100%;
}

.copyright, ::placeholder {
    font-style: italic;
}

.choose-state {
   color: rgb(104, 103, 103);
   font-size: .5em;
}

/* Pseudo Selectors */

::placeholder {
    text-align: right;
    font-size: .75em;
    padding-right: 1em
}

/* Attribute Selectors */

label[for="name"],label[for="mail"],
label[for="phone"],label[for="address"],
label[for="city"],label[for="state-dropdown"],label[for="zipcode"] {
    display: block;
    color: rgb(228, 228, 228);
    margin-bottom: .5em;
}

input[type="name"],input[type="email"],
input[type="tel"],input[type="text"], input[type="number"],
#state-dropdown, textarea
 {
    display: block;
    background-color: rgb(231, 227, 227);
    width: 100%;
    padding: .5em;
    border: none;
    border-radius: 2px;
    margin-bottom: 1em;
    transition: background 0.75s ease-in-out;
}

input[id="zipcode"] {
    width: 50%;
}

input[type="name"]:focus,input[type="email"]:focus,
input[type="tel"]:focus,input[type="text"]:focus, input[type="number"]:focus,
textarea:focus {
    background-color: rgb(210, 199, 252);
    transition: background 0.75s ease-in-out;
}

label[for="html-news"],label[for="css-news"],label[for="javascript-news"],
label[for="html-format"],label[for="plain-text"] {
    display:inline-block;
    margin-bottom: .5em;
    margin-left: .5em;
    font-size: .80em;
    color: rgb(228, 228, 228);
}

label[for="html-news"]:hover,label[for="css-news"]:hover,label[for="javascript-news"]:hover,
label[for="html-format"]:hover,label[for="plain-text"]:hover {
    display:inline-block;
    margin-bottom: .5em;
    margin-left: .5em;
    font-size: .80em;
    color: rgb(216, 207, 250);
}

@media (min-width: 768px) {

    h1 {
        margin-bottom: 2.5em;
    }

    .news-p {
        margin-bottom: 3em;
    }

    main {
        margin: 0 auto;
        max-width: 800px;
    }

    label[for="name"],label[for="mail"],
    label[for="phone"],label[for="address"],
    label[for="city"],label[for="state-dropdown"],label[for="zipcode"] {

        display: block;
        color: rgb(228, 228, 228);
        margin-bottom: .5em;
        float: left;
        width: 20%;
}


    input[type="name"],input[type="email"],
    input[type="tel"],input[type="text"], input[type="number"],
    #state-dropdown {
        
        display: inline-block;
        background-color: rgb(231, 227, 227);
        width: 80%;
        padding: .5em;
        border: none;
        border-radius: 2px;
        margin-bottom: 1em;
    }

}